<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-outline mb-4">
    <%= f.input :identificacion %>
  </div>
  <div class="form-outline mb-4">
    <%= f.input :first_name %>
  </div>
  <div class="form-outline mb-4">
    <%= f.input :second_name %>
  </div>
  <div class="form-outline mb-4">
    <%= f.input :first_last_name %>
  </div>
  <div class="form-outline mb-4"> 
    <%= f.input :second_last_name %>
  </div>
  <div class="form-outline mb-4 ">
    <%= f.association :role  , label_method: :role_name %>
  
  </div>
  <div class="form-outline mb-4 " >
    <%= f.association :document, label_method: :document_type %>
  </div>
  <div class="btn btn-primary btn-block mb-4">
    <%= f.button :submit %>
  </div>
<% end %>
